body {
    background-color: rgb(190, 170, 125);
}

h3 {
    background-color: white;
    padding: 8px;
    margin: 0%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: rgb(218, 206, 200);
    text-align: center;
    text-shadow: 3px 2px 1px rgb(124, 102, 57);
    /*Como cambiar valores de texto en CSS*/
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: 900;

}

.titulo2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

.caja1 {
    background-color: rgb(120, 123, 106);
    color: white;
    padding: 3px;
    margin: 1px;
    border-radius: 2px;
    text-indent: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.caja2 {
    background-color: rgb(236, 216, 197);
    color: rgb(59, 75, 43);
    text-align: right;
    padding: 3px;
    margin: 1px;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.caja3 {
    background-color: rgb(249, 240, 229);
    padding: 3px;
    border-radius: 2px;
    text-indent: 15px;
}

.lista {
    background-color: rgb(144, 130, 112);
    color: aliceblue;
    padding: 2px;
}

.lista2 {
    background-color: rgb(108, 98, 84);
    color: aliceblue;
    padding: 2px;
    text-align: justify;
}

/*modificar links en CSS*/
a {
   color: rgb(251, 218, 218);
   text-decoration: none;
}

a:link {
    color: red;
}

a:visited {
    color: violet;
}

a:hover {
    color: rgb(248, 220, 59);
    text-decoration: underline;
}

a:active {
    color: black;
}


.linkP {
    text-decoration: underline;
    letter-spacing: 2px;
}